table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

table {
    border-spacing: 10px;
}

body {
    margin:40px auto;
    max-width:1500px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:10px; 
    background-color: #F6F6F6; 
}

h1,h2,h3 {
    line-height:1.2;
}

